@font-face {
  font-family: Salsa;
  src: url("/assets/Salsa/Salsa-Regular.ttf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: Salsa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text */
.center {
  text-align: center;
}

.medium-font {
  font-size: 3.9em;
}

/* Gradient Text */
.text-gradient {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(blue, darkblue);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.text-gradient {
  font-size: 2.5rem;
}

/* Gradient button */
.btn-grad {
  font-size: 1.3rem;
  background-image: linear-gradient(
    45deg,
    #50a0ef 0%,
    #70c0ff 51%,
    #3090cf 100%
  );
  margin: 10px;
  margin-left: 0;
  padding: 15px 13px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  font-family: inherit;
}

.btn-grad a {
  text-decoration: none;
  color: inherit;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
}

/*? Menu */
nav {
  overflow: hidden;
  top: 0;
  background-color: #50a0eff0;
  padding: 0.1rem;
  min-height: 0;
  width: 100% !important;
  transition: all 1s ease-in;
  position: fixed;
  border-radius: 25px;
}
.nav-logo {
  max-height: 64px;
}

.nav-logo > img {
  width: 64px;
}

nav > div {
  flex-direction: column;
}

nav > div > ul {
  list-style: none;
  gap: 0.5rem;
  flex-direction: column;
  max-height: 0;
  display: flex;
}

nav.shown {
  min-height: 100vh;
}

nav > div > ul > li {
  text-align: center;
}

nav > div > ul > li > a {
  color: black;
  text-decoration: none;
}

#ulMenu a:hover {
  color: white;
}

/*? Header */
.header-bottom {
  background: linear-gradient(350deg, #1070af, #50a0ef);
  color: white;
  background-size: cover;

  width: 100%;
  max-height: 100vh;
  padding: 0;
}

#about {
  padding: 5rem 0;
}

/*? skills */
#skills {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#skills .row > div {
  padding: 30px;
  border-radius: 15px;
  transition: all 0.5s ease;

  /* Gradient */
  background-image: linear-gradient(to right bottom, #0af, #00f);
}

#skills .row b.text-gradient {
  font-size: 3em;
}

/* Footer */
footer > .container {
  color: white;
  background-color: #0f2027;
  padding: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
}

footer a {
  display: inline-block;
  color: #50a0ef;
  text-decoration: none;
}

.gap {
  gap: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs`; since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-grad {
    padding: 15px 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :is(#skills .row > div):hover {
    border-radius: 0px;
    scale: 102%;
  }

  h1.text-gradient {
    font-size: 4rem;
  }
  nav > div > ul,
  nav > div {
    display: flex !important;
    flex-direction: row;
    max-height: initial;
  }

  nav > div > ul > li {
    text-align: left;
  }

  nav {
    background-color: #50a0ef;
    max-width: initial;
    min-height: initial !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1.text-gradient {
    font-size: 5.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
