/*
* Site Public Styles
*/

@import url(/styles/container.css);
@import url(/styles/flex.css);
@import url(/styles/grid.css);

@font-face {
  font-family: Salsa;
  src: url("/assets/Salsa/Salsa-Regular.ttf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: Salsa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text */
.center {
  text-align: center;
}

.medium-font {
  font-size: 3.9em;
}

/* Gradient Text */
.text-gradient {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(blue, darkblue);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.text-gradient {
  font-size: 2.5rem;
}

/* Gradient button */
.btn-grad {
  font-size: 1.3rem;
  background-image: linear-gradient(
    45deg,
    #50a0ef 0%,
    #70c0ff 51%,
    #3090cf 100%
  );
  margin: 10px;
  margin-left: 0;
  padding: 15px 13px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  font-family: inherit;
}

.btn-grad a {
  text-decoration: none;
  color: inherit;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
}

.gap {
  gap: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs`; since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-grad {
    padding: 15px 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1.text-gradient {
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1.text-gradient {
    font-size: 5.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
