/*
* Site Public Styles
*/

@import url(/styles/container.css);
@import url(/styles/flex.css);
@import url(/styles/grid.css);
@import url(/styles/theme.css);

[css-no-select] {
  user-select: none;
}

@font-face {
  font-family: Salsa;
  src: url("/assets/Salsa/Salsa-Regular.ttf");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-family: Salsa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text */
.center {
  text-align: center;
}

.medium-font {
  font-size: 3.9em;
}

.bottom-this {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(+50%);
  -webkit-transform: translateX(+50%);
  -moz-transform: translateX(+50%);
  -ms-transform: translateX(+50%);
  -o-transform: translateX(+50%);
  z-index: 9999;
}

/* Gradient button */
.btn-grad {
  font-size: 1.3rem;
  background-image: linear-gradient(
    45deg,
    #50a0ef 0%,
    #70c0ff 51%,
    #3090cf 100%
  );
  margin: 10px;
  margin-left: 0;
  padding: 15px 13px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px var(--btn-shadow);
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
  font-family: inherit;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-grad a {
  text-decoration: none;
  color: inherit;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-grad.no-margin {
  margin: 0.5rem 0;
}

.gap {
  gap: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs`; since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-grad {
    padding: 15px 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
