/* Gradient Text */
:root {
  --gradient--text--1: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  --gradient--text--2: linear-gradient(blue, darkblue);
  --gradient--text--3: linear-gradient(to bottom, #f5f5f5, #efefef, #c9c9c9);
  --gradient--text--4: linear-gradient(lightblue, blue);
}

.text-gradient-1,
.text-gradient {
  background: var(--gradient--text--1);
}

.text-gradient-2 {
  background: var(--gradient--text--2);
}

:is(h1, .big).text-gradient {
  font-size: 2.5rem;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dark Mode */
html[dark] .text-gradient {
  background-image: var(--gradient--text--3);
}

html[dark] .text-gradient-2{
  background-image: var(--gradient--text--4);
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs`; since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :is(h1, .big).text-gradient {
    font-size: 4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h1.text-gradient {
    font-size: 5.5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
