@import url(/styles/respo_font.css);

.portfolio {
  display: flex;

  color: #50a0ef;
}

h1{
  font-size: 3.75rem !important;
}

body {
  --font-xs: 1.2rem !important;
  --font-sm: 1.45rem !important;
  --font-md: 1.2rem !important;
  --font-lg: 1.5rem !important;
  --font-xl: 1.4rem !important;
  --font-xxl: 1.7rem !important;
}

html {
  height: 100vh;
  background: linear-gradient(20deg, #ffffff, #777);
  background-size: cover;
}

.portfolio > div {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  width: 100%;
}

.portfolio > div a {
  padding-left: 5px;
  color: inherit;
}

.portfolio > div:hover {
  transform: scale(90%);
  -webkit-transform: scale(90%);
  -moz-transform: scale(90%);
  -ms-transform: scale(90%);
  -o-transform: scale(90%);
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

.portfolio > div > img {
  display: inline-block;
  width: 100%;
}

.portfolio > div span {
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.portfolio > div::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: #000a;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

h1{
  margin-bottom: 1rem;
}

@media only screen and (min-width: 576px) {
  .portfolio > div{
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio >div{
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .portfolio>div{
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 1400px) {
  
}
